<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
	"D://DTD/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
	
		<session-factory>
			<property name="hbm2ddl.auto">update</property>
			<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
			<property name="connection.url">jdbc:mysql://localhost:3306/mydb?useSSL=false</property>
			<property name="connection.username">xoxodlf</property>
			<property name="connection.password">red240188</property>
			<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
			<mapping resource="user.hbm.xml"/>
			<mapping resource="users.hbm.xml"/>
		</session-factory>
	
	</hibernate-configuration>